[Unit]
Description=gunicorn3 for hackaday-28-adventure
After=network.target

[Service]
Type=simple
WorkingDirectory=/hackaday/day28_adventure
ExecStart=/bin/gunicorn3 -e SCRIPT_NAME=/hackaday/adventure --bind 0.0.0.0:8028 app:app

[Install]
WantedBy=multi-user.target
